@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome to Razor Pages</h1>
<p>
    This is a basic demo of razor pages architecture.
</p>
<p>Current Server Time: @Model.CurrentTime</p>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>